#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	-mkdir build
	cd build && cmake -D CMAKE_INSTALL_PREFIX=/usr ..
	${MAKE} -C build

override_dh_auto_install:
	${MAKE} -C build install DESTDIR=debian/tmp
	dh_auto_install

override_dh_auto_clean:
	dh_auto_clean
	rm -r build || :
